pipeline/Pipeline_p1_Delta.json
{
	"name": "Pipeline_p1_Delta",
	"properties": {
		"activities": [
			{
				"name": "LookUpToCheckNewData_copy1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select ProductCategoryID, ParentProductCategoryID, Name, RowGUID from dbo.ProductCategory where ModifiedDate >= '@{activity('Lookup_OldWaterMark').output.firstRow.watermark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_ForProductCategory",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "StoredProcedureFor_DeltaLoad_copy1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookUpToCheckNewData_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertDeltaLoad]",
					"storedProcedureParameters": {
						"Name": {
							"value": {
								"value": "@coalesce(activity('LookUpToCheckNewData').output.value[0].Name, '')\n\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ParentProductCategoryID": {
							"value": {
								"value": "@coalesce(activity('LookUpToCheckNewData').output.value[0].ParentProductCategoryID, 0)\n\n",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ProductCategoryID": {
							"value": {
								"value": "@coalesce(activity('LookUpToCheckNewData').output.value[0].ProductCategoryID, 0)\n\n",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SqlDatabaseEllipse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure_ToUpdateOldWaterMark_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "StoredProcedureFor_DeltaLoad_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermark]",
					"storedProcedureParameters": {
						"newwatermark": {
							"value": {
								"value": "@{activity('Lookup_NewWaterMark').output.firstRow.new_watermark}",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SqlDatabaseEllipse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}