pipeline/Pipeline_p1_Delta_B.json
{
	"name": "Pipeline_p1_Delta_B",
	"properties": {
		"activities": [
			{
				"name": "LookUpToCheckNewData_copy1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select ProductCategoryID, ParentProductCategoryID, Name, RowGUID from dbo.ProductCategory where ModifiedDate >= '@{pipeline().parameters.OldWaterMarkActivity}'\n\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_ForProductCategory",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUpToCheckNewData_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUpToCheckNewData_copy1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "StoredProcedureFor_DeltaLoad_copy1_copy1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertDeltaLoad]",
								"storedProcedureParameters": {
									"Name": {
										"value": {
											"value": "@item().Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ParentProductCategoryID": {
										"value": {
											"value": "@item().ParentProductCategoryID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ProductCategoryID": {
										"value": {
											"value": "@item().ProductCategoryID",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SqlDatabaseEllipse",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"OldWaterMarkActivity": {
				"type": "string"
			}
		},
		"annotations": []
	}
}