pipeline/Pipeline_p2_Full.json
{
	"name": "Pipeline_p2_Full",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure_ToUpdateOldWaterMark_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "StoredProcedureForFullLoad_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermark]",
					"storedProcedureParameters": {
						"newwatermark": {
							"value": {
								"value": "@{activity('Lookup_NewWaterMark').output.firstRow.new_watermark}",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SqlDatabaseEllipse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "StoredProcedureForFullLoad_copy1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[MigrateLegacyData]"
				},
				"linkedServiceName": {
					"referenceName": "LS_SqlDatabaseEllipse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}