pipeline/PipelineForEachAndLookup_SQL.json
{
	"name": "PipelineForEachAndLookup_SQL",
	"properties": {
		"activities": [
			{
				"name": "LookUp_Sql_Foreach",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Abhishek",
						"type": "DatasetReference",
						"parameters": {
							"schmeaname": "dbo",
							"tablename": "metadatasql"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForeachLoop_LookUp_Sql",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUp_Sql_Foreach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUp_Sql_Foreach').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ForParameterizedDataset",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@item().Inputcontainer",
											"type": "Expression"
										},
										"directoryname": {
											"value": "@item().Inputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Inputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_Abhishek",
									"type": "DatasetReference",
									"parameters": {
										"schmeaname": {
											"value": "@item().schmeaname",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}